<widget id="HTMARC" version="0.3.4">
<plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
<preference name="phonegap-version" value="cli-9.0.0" />

     <platform name="android">
              <name>Making a Rise Course into an App</name>
              <icon src="res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
              <icon src="res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
              <icon src="res/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
              <icon src="res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
			  <icon src="res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
              <splash src="res/splash.png" />
     </platform>

     </widget>
